//Colors//
$violet: hsl(263, 55%, 52%);
$grayish-blue: hsl(217, 19%, 35%);
$blackish-blue: hsl(219, 29%, 14%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);

$name-lh: 0.8125rem;
$span-lh: 0.6875rem;
$quote-lh: 1.125rem;

$name-fs: 0.8125rem;
$span-fs: 0.6875rem;
$h2-fs: 1.25rem;
$quote-fs: 0.8125;
