@font-face {
  font-family: "Barlow-semibold";
  src: url("/frontend/src/fonts/barlow-semi-condensed-v15-latin-600.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-medium";
  src: url("/frontend/src/fonts/barlow-semi-condensed-v15-latin-500.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
