//Mobile Styles
@use "variables" as v;
@use "articles";
@use "attribution";
body {
  background-color: v.$light-grayish-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24rem;
  height: 122rem;
  padding: 4.44rem 1.5rem;
}

.article {
  border-radius: 0.5rem;
  padding-inline: 2rem;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}
.article-img {
  margin-top: 1.63rem;
  border-radius: 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
}
.verified-graduate {
  border-radius: 1.75rem;
  border: 2px solid v.$light-violet;
}
.verified-graduate-2 {
  border-radius: 1.75rem;
  border: 2px solid v.$violet;
}
.user-info {
  display: flex;
  align-items: center;
}

.article h1 {
  font-family: "Barlow-medium", sans-serif;
  font-size: v.$fs-1;
  line-height: v.$lh-1;
}

.article span {
  font-family: "Barlow-medium", sans-serif;
  opacity: 0.5;
  font-size: v.$fs-2;
  line-height: v.$lh-2;
}

.quotation-mark {
  position: relative;
  top: -3.75rem;
  left: 11.375rem;
  bottom: 21.38rem;
  z-index: 0;
  opacity: 70%;
  flex-shrink: 0;
}

.user-details {
  gap: 0.25rem;
  padding-top: 29px;
  padding-left: 10px;
}
h2 {
  color: v.$white;
  font-family: "Barlow-semibold", sans-serif;
  font-size: v.$fs-3;
  line-height: normal;
  padding-bottom: 1.5rem;
  margin-top: 1.2rem;
  width: 17rem;
}
.quote {
  font-family: "Barlow-medium", sans-serif;
  font-size: v.$fs-1;
  line-height: v.$lh-3;
  width: 16.4375rem;
}

//Articles//

//Attribution//
